# Database
MYSQL_HOST=""
MYSQL_PORT=""
MYSQL_DB=""
MYSQL_USER=""
MYSQL_PASSWORD=""

# JWT
SECRET_KEY=""
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Rate Limiting
REDIS_URL=redis://redis:6379/0
RATE_LIMIT_PER_MINUTE=10